.mynd{
    width: 80%;
	margin: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
	display: grid;   
	justify-items:center;
}
.mynd2{
    width: 10%;
    margin: auto;
}
td, th {
    border: 1px solid #dddddd;
    border-radius: 10px;
    text-align: left;
    padding: 5px;
    display: table-cell;
    vertical-align: inherit;
}
.texti{
    text-align: center;
}
.tafla{
    font-family: Times New Roman;
    font-size: 14pt;
    width: 80%;
    border-radius: 10px;
    margin: auto;
    text-align: center;
	background-color: white;
}
.company{
    border-collapse: collapse;
    font-size: 12pt;
    border-radius: 10px;
    margin: auto;
	background-color: white;
}
.moreinfo{
    border-collapse: collapse;
    border-radius: 10px;
    margin: auto;
	background-color: white;
}
h1{
    text-align: center;
	font-family: Gabriola;
    font-size: 30pt;
}
h2{
    font-family: Times New Roman;
    font-size: 18pt;
    padding: 10px;
}
h3{
    font-family: Times New Roman;
    font-weight: normal;
    font-size: 14pt;
    padding: 5px;
}
p{
    text-align: center;
}
img{
	width: 100%;
	height: 100px;
}